<p class="content-padded">Bienvenido a <strong>DuFly</strong>, desde este aplicativo usted podrá solicitar vuelos y hoteles para sus viajes de trabajo.</p>

<div class="input-group content-padded">
    <div class="input-row">
        <label>Correo </label>
        <input type="text" placeholder="Ingrese su correo" ng-model="Correo" >
    </div>
    <div class="input-row">
        <label>Contraseña</label>
        <input type="password" placeholder="Ingrese su contraseña" ng-model="Password">
    </div>
    <button class="btn btn-primary btn-block" type="button" ng-click="ingresar()">
        Ingresar
        <span class="icon icon-right"></span>
    </button>
</div>
