<div class="content-padded">
    <input type="text" placeholder="Cliente" ng-model="Cliente"/>
    
    <select ng-model="Producto" >
        <option value="{{p.id}}" ng-repeat="p in Productos">USD {{p.Precio}} - {{p.Nombre}}</option>
    </select>

    <input type="text" placeholder="Cantidad" ng-model="Cantidad"/>

    <button class="btn btn-default btn-block" type="button" ng-click="agregaProducto()">
        Agregar <span class="icon icon-plus"></span>
    </button>
</div>

<div class="card">
    <ul class="table-view">
        <li class="table-view-cell" ng-repeat="d in Pedido.Detalle">
            <div class="pedido-detalle">
                <img src="{{d.Imagen}}" class="pull-left" style="width: 60px;" >
                <strong class="producto">{{ d.Producto }}</strong>
                <div class="descripcion">
                    <b>Cnt.</b>: {{ d.Cantidad }} <b>P.U</b>: {{ d.PrecioUnitario }} USD <b>Total</b>: {{ d.Total }} USD
                </div>
            </div>
            <button class="btn btn-negative">
                <span class="icon icon-trash" ng-click="retiraProducto(index)"></span>
            </button>
        </li>
        
        <li class="table-view-cell" ng-if="Pedido.Total > 0">
            <div class="pedido-detalle">
                <div class="total">
                    <strong>Total a pagar:</strong> {{ Pedido.Total }} USD
                </div>
            </div>
        </li>
    </ul>
</div>

<div class="content-padded">
    <button class="btn btn-block btn-primary" type="button" ng-click="registraPedido()">Registrar</button>
</div>

<div class="bar bar-standard bar-footer-secondary">
    <a href="#/pedidos" class="btn btn-block">Volver</button>
</div>