<div class="user-dashboard">
    <img src="assets/images/default-user.png" class="avatar" />
    Bienvenido <b>{{Usuario.NOMBRE_EMPLEADO}}</b>, desde aquí usted puede realizar sus solicitudes de vuelo y hoteles.
    <div class="clear"></div>
</div>


<div class="card" ng-if="datosOffline.length > 0">
	<ul class="table-view">
		<li class="table-view-cell" >
				<span class="icon icon-info"></span>
				Actualmente usted tiene  solicitudes pendientes por registrar.
				<span class="badge badge-negative"># solicitudes:  {{datosOffline.length}}</span>

		</li>
		<button class="btn btn-block btn-positive remove-border-radius" ng-click="enviarSolicitudes()">Enviar solicitudes pendientes</button>
		<button class="btn btn-block btn-negative remove-border-radius" ng-click="rechazarSolicitudes()" >Rechazar solicitudes pendientes</button>
	</ul>
</div>

<div class="card" ng-if="Usuario.CAMBIA_PASSWORD">
    <a class="btn btn-block btn-primary remove-border-radius" href="#/principal/registrar">Nueva solicitud</a>
    <ul class="table-view">
        <li class="table-view-cell" ng-repeat="r in resultado">

        	    <a class="navigate-right" href="#/principal/visualizar/{{ r.COD_SOLICITUD }}">
        	    	<span ng-if="r.ESTADO_SOLICITUD == 'NUEVA'" class="pedido-estado pedido-estado-nuevo pull-left"></span>
                <span ng-if="r.ESTADO_SOLICITUD == 'PENDIENTE'" class="pedido-estado pedido-estado-pendiente pull-left"></span>
                <span ng-if="r.ESTADO_SOLICITUD == 'RECHAZADA'" class="pedido-estado pedido-estado-anulado pull-left"></span>
        	    	<span ng-if="r.ESTADO_SOLICITUD == 'LIBERADA'" class="pedido-estado pedido-estado-finalizado pull-left"></span>
        	      	<b>Solicitud #{{r.COD_SOLICITUD}}</b>
        	      	<span class="badge">{{r.ESTADO_SOLICITUD}}</span>
        	    </a>

        </li>

    </ul>
</div>

<!-- FORMULARIO PARA CAMBIAR LA CONTRASEÑA -->

<!-- <div class="card" ng-if="Usuario.CAMBIA_PASSWORD">
		
		<ul class="table-view">
			<li class="table-view-divider" style="color:red;">Por su seguridad actualice su contraseña antes de continuar. <i class="fas fa-key"></i></li>
			<h5 	style="color:red;">{{errorPass}}</h5>
			<li class="table-cell">
				<form class="input-group">
					<div class="input-row">
						<label>Nueva contraseña</label>
						<input type="password" placeholder="*******" ng-model="passwd" name="passwd" ng-change="a()">
						
					</div>
					<div class="input-row">
						<label>Confirmar contraseña</label>
						<input type="password" placeholder="*******" ng-model="user.txt_confipasswd">
					</div>
				</form>
			</li>
			<li class="table-cell">
					
				<div class="content-padded">
					<button class="btn btn-block btn-primary" type="button" ng-click="actualizaPass()">Actualizar</button>
				</div>
			</li>
		</ul>
</div> -->
	

<!-- FIN FORMULARIO CAMBIAR CONTRASEÑA -->

<!-- Logout -->

<nav class="bar bar-tab">
	<a class="tab-item active" href="#">
	  <span class="icon icon-home"></span>
	  <span class="tab-label">Inicio</span>
	</a>
 	<a class="tab-item" href="#/perfil/visualizar/{{usuario}}">
		<span class="icon icon-person"></span>
	    <span class="tab-label">Mi perfil</span>
	</a>
	<!-- <a ng-if="!Usuario.CAMBIA_PASSWORD" class="tab-item" href="#/principal/registrar">
		<span class="icon icon-compose"></span>
		<span class="tab-label">Nueva solicitud</span>
	</a> -->
	<a  class="tab-item" href="#/principal/registrar">
		<span class="icon icon-compose"></span>
		<span class="tab-label">Nueva solicitud</span>
	</a>
	<a class="tab-item" href="#/logout">
	    <span class="icon icon-close"></span>
	    <span class="tab-label">Desconectarse</span>
	</a>

</nav>


<!--<div class="bar bar-standard bar-footer-secondary">
  <a href="#/logout" class="btn btn-block btn-negative">Desconectarse</a>
</div>-->
